
* {
  font-family: "PT Sans Narrow", sans-serif;

}
body {
  overflow: hidden; /* Hide scrollbars */
}
/* navigation bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 0px;
  left: 100px;
  width: 90%;
}
.nav-items {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 80px;
  font-weight: 300;
  font-size: 22px;
  text-decoration: none;
}
.nav-items :hover {
  color: #fe5e35;
}

/* intro */
.intro-section {
  display: flex;
}

.left-section {
  position: absolute;
  top: 150px;
  left: 200px;
}

h3 {
  font-size: 30px;
  font-weight: 200;
}
h3 img {
  height: 40px;
}
h1 {
  font-size: 50px;
  font-weight: 900;
}
.sub-headlines {
  position: relative;
  left: 60px;
}
.sub-headline img {
  background-color: #fe5e35;
  border-radius: 15px;
}
.sub-headline {
  font-size: 25px;
  font-weight: 100;
}
h5 img {
  height: 25px;
  width: 25px;
}
/*left section text */
.text {
  position: relative;
  top: 15px;
  text-align: justify;
  color: rgb(170, 163, 163);
  width: 600px;
  font-size: 18px;
}

/* right section */
.right-section {
  position: absolute;
  top: 150px;
  right: 0px;
}

/* targetting headphone img */
.headphone-div :last-child {
  position: absolute;
  top: 0px;
  right: 160px;
  z-index: -1;
  height: 500px;
}
/* targetting discount img */
.discount {
  position: absolute;
  top: 280px;
  right: 550px;
  height: 140px;
}

.discount-content :first-child {
  position: absolute;
  top: 300px;
  right: 600px;
  color: #ffffff;
}

.discount-content :last-child {
  position: absolute;
  top: 295px;
  right: 590px;
  z-index: 1;
  color: #ffffff;
}

/* creting dots */
.dots {
  position: absolute;
  top: 490px;
  right: 345px;
  height: 30px;
  width: 150px;
  display: flex;
  justify-content: space-around;
}
.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.yellow-dot {
  background-color: rgba(249, 249, 34, 0.807);
}

.tomato-dot {
  background-color: #fe5e35;
}

.black-dot {
  background-color: #000000;
}

/* right side button */
.action-btn
{
  position: relative;
  top: 550px;
  right: 350px;
  border-radius: 25px;
  background-color: #fe5e35;
  height: 47px;
  width: 158px;
  border-style: none;
  color: #ffffff;
  font-size: 20px;
}
.action-btns
{
  display: flex;
  justify-content: space-around;
  width: 400px;
  position: absolute;
   top: 0px;
   left: 350px;
   
}
