@media screen and (max-width: 500px) {
  * 
{
  font-family: "PT Sans Narrow", sans-serif;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
/* navigation bar */
nav {
  display: none;
}
.nav-items {
  display: none;
}
/* intro */
.intro-section {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.left-section {
  position: absolute;
  top:40rem;
  left: 1rem;
  width: 100%;   
}

h3 {
  width: 100%;
}
h1 {
  width: 95%;
}
.sub-headlines {
  width: 100%;
}
/*left section text */
.text {
  position: relative;
  top: 0.938rem;
  width: 90%;
  margin-bottom: 1rem;
}

/* right section */
.right-section {
  position: absolute;
  top: 3.75rem;
  left: 5rem;
  width: 80%;
}

/* targetting headphone img */
.headphone-div
{
  display: flex;
}
.headphone-div :last-child {
  position: relative;
  top: 0px;
  right: 0rem;
 width: 80%;
}
/* targetting discount img */
.discount {
 display: none;
}

.discount-content :first-child {
  display: none;
}

.discount-content :last-child {
  display: none;
}

/* creting dots */
.dots {
  position: absolute;
  top: 30.625rem;
  left: 50px;
  right: 0;
}
/* right side button */
.action-btns
{
  position: absolute;
   top: 0;
   left: 0;  
}
.action-btn
{
  position: relative;
  top: 36rem;
  left: 0rem;
}

.action-btn1
{
  top: 2.813rem;
  left: 3.125rem;
  width: 9.375rem;
}

.headphone-div :first-child, .discount-content
  {
    display: none;
  }
}
